.nav-class {
  color: white;
  text-align: center;
  font-family: 'avenir-lt-w01_85-heavy1475544', sans-serif;
  background-color: black;
  padding: 3px 3px;
  border: 2px solid white;
  position: fixed;
  width: 100%;
}

.center-class {
  display: flex;
  justify-content: center;
}

.container-class {
  margin-top: 50px;
  padding: 10px 10px;
  background-color: rgb(245, 241, 241);
  border: 1px solid black;
  width: 100%;
}

label {
  font-family: 'avenir-lt-w01_85-heavy1475544', sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.group-class {
  padding: 5px;
}

div > select,input {
  width: 97%;
  padding: 13px 13px;
  margin: 5px 0;
  border: 1px solid black;
  border-radius: 15px;
}

.text-input-class {
  font-family: 'avenir-lt-w01_85-heavy1475544', sans-serif;
  font-size: 18px;
}

.text-area-class {
  font-family: 'avenir-lt-w01_85-heavy1475544', sans-serif;
  font-size: 18px;
  border: 1px solid black;
}

@media only screen and (max-width: 768px) {
  div.group-class-1 {
    display: none;
  }
}

button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 20px;
  border-radius: 15px;
  text-align: center;
}
